.propertie-card {
    position: relative;
    margin: auto;
    display: flex;
    overflow: hidden;
    border-radius: 10px; width: 100%; /* Set an explicit width */
}

.propertie-card img {
    width: 100%; /* Add a width for the container */
    height: 100%; /* Add a height for the container */
    object-fit: cover;
    aspect-ratio: 19 / 18;
}

.propertie-card-wrapper {
    position: relative;

    transition: .2s;
}

.next-button {
    position: absolute;
    right: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
}

.prev-button {
    position: absolute;
    left: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
}

.prev-button,
.next-button {
    border: none;
    background-color: rgba(255, 255, 255, 0.700);
    color: black;
    border-radius: 25px;
    height: 2rem;
    width: 2rem;
    padding: 0.5rem;
    margin: auto;
    cursor: pointer;
    display: none;

    transition: .2s;
}

.prev-button:hover,
.next-button:hover{
    background-color: white;
}

.propertie-card-wrapper:hover .prev-button,
.propertie-card-wrapper:hover .next-button {
    display: block; /* Show the buttons on hover */
}

.dot-indicators {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 10px;
}

.dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #bebebeb6;
    margin: 0 2px;
    cursor: pointer;
}

.dot.active {
    background-color: #ffffff;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    cursor: pointer;

   max-width: 1000px;


    display: flex;
    flex-direction: column;
    flex-grow: 1;

    padding-bottom: 1rem;
}

.propertieInfo {
    display: flex;
    flex-direction: column;
    padding-top: 12px;
    gap: 0.75rem;
}

.propertieInfo div div {
    display: flex;
    justify-content: space-between;
    align-items: center;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.propertieInfo div div:first-child {
    font-weight: bold;
}

.propertieInfo svg {
    width: 18px;
    margin-bottom: 2px;
}
.propertieInfo span {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 14px;
}

.infoTitle {
    color: #717171;
}

.propertieInfo div:last-child {
    display: flex;
    gap: 0.25rem;
}

.propertieInfo div:last-child :first-child{
    font-weight: bold;
}

.innerInfo {
    gap: 3px;
    display: flex;
    flex-direction: column;
}

.ratingInfo {
    font-weight: 100;
}