main {
  --collumns: 6;

  display: grid;
  grid-template-columns: repeat(var(--collumns), 1fr);

  gap: 1.5rem;

  /* padding: 2.5rem; */
}

.homeWrapper {
  padding: 0 5rem;
  min-width: 744px;

}

@media screen and (max-width: 1880px) {
  main {
    --collumns: 5;
  }
}

@media screen and (max-width: 1640px) {
  main {
    --collumns: 4;
  }
}

@media screen and (max-width: 1128px) {
  main {
    --collumns: 3;
  }
}

@media screen and (max-width: 950px) {

  /* .homeWrapper {
    padding: 50rem;
  } */
  main {
    --collumns: 2;
  }

}

@media screen and (max-width: 550px) {
  main {
    --collumns: 1;
  }
}


@media screen and (max-width: 1440px) {
  .homeWrapper {
    padding: 0 2.5rem;
  }

  .hideElement {
    display: none !important;
  }

}
@media screen and (max-width: 1020px) {
  .smallerLogo {
    display: block !important;
  }

  .regularLogo {
    display: none !important;
  }
}

@media screen and (max-width: 950px) {
  .homeWrapper {
    padding: 0 1.5rem;
  }
}

.spanImg img {
  height: 2rem;
}

.smallerLogo {
  display: none;
}

.regularLogo {

  display: block;
}

main {
  /* margin: auto; */
  /* padding: 0 5rem; */
  margin: 2rem auto 2rem auto;

  max-width: 2360px;
}

#search {
  display: flex;

  gap: 1rem;

}

#locationSection {
  width: 10rem;
}

.fields {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
padding-top: 3px;
  width: 6rem;
}

.searchWrapper {

  border: 1px solid rgba(0, 0, 0, 0.175);
  border-radius: 50px;
  box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.35);

  display: flex;
  align-items: center;


  padding: 0.25rem 0.5rem 0.25rem 1.5rem;
  margin: 0 1rem;

  font-size: 14px;
  font-weight: bold;

  gap: 2rem;


  position: absolute;
  top: 50%;
  left: 50%;  
  transform: translate(-50%, -50%);
}

.searchWrapper hr {
  color: rgba(0, 0, 0, 0.132);
}

.searchWrapper div {
  display: flex;
}

.searchWrapper span {}

.searchWrapper button {
  width: 2.25rem;
  height: 2.25rem;
  color: white;
  background-color: #FF385C;

  border: none;

  padding: 0.5rem;

  border-radius: 25px;
}

.searchWrapper button {
  cursor: pointer;

  transition: .1s;
}


.searchWrapper button:hover {
  background-color: #cd2c49;
}

.hideElement {
  display: flex;
  align-items: center;

  gap: 1rem;
}